{%extends "base.html"%}

{%block tite%}Main{%endblock%}


{%block content%}
<div class="todo-container">
    <div class="todo-header">
        <i class="fas fa-tasks"></i>
        <span >Todo List</span>
    </div>
    {%with messages = get_flashed_messages()%}
        {%if messages%}
        <div class="flash-messages">
            {%for msg in messages%}
                <p class="flash-message {{ category }}">{{msg}}</p>
            {%endfor%}
        </div>
        {%endif%}
    {%endwith%}

    <div class="todo-input-group">
        <form action="/" method="post">
        <input type="text" name="task" class="todo-input" placeholder="Add a new task...">
        <button type="submit" name="Add" value="Add" class="add-btn"><i class="fas fa-plus"></i> Add</button>
    </form>
    </div>

    <p class="mt-3"><span id="task-count">3</span> items left</p>

    <div class="status-filter">
        <button class="active-btn">All <span class="badge bg-light text-dark"></span></button>

    </div>

    <ul class="task-list">
        {%for task in tasks%}
        <li>
            <span>{{task}}</span>
            <form action="{{ url_for('delete' , task=task)}}" method="POST" style="display: inline;">
                <button type="submit" class="delete-btn">Delete</button>
            </form>
        </li>
        {%endfor%}
    </ul>
</div>
{%endblock%}